name: Test Build
on:
  pull_request:
  push:
    branches:
      - main
env:
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_NO_AUTO_UPDATE: 1
jobs:
  macOS:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-14, macos-15, macos-26]
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
      - run: brew test-bot --only-cleanup-before
      - run: brew test-bot --only-setup
      - run: brew test-bot --only-tap-syntax
      - name: Install additional dependencies
        run: |
          brew install --cask xquartz
          brew install --cask mactex
          eval "$(/usr/libexec/path_helper)"
      - run: brew test-bot --only-formulae
